    body {
        background-image: url(MainBG.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 100%;
        background-attachment: fixed;
        box-shadow: 10px 10px;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(60deg, #190035, #003399, #ae00af);
    }
    
    .inline {
        display: inline;
    }
    
    #top {
        background: url('BGsunset.jpg') center;
        background-size: 100%;
        color: white;
    }
    
    #GTtitle {
        padding-left: 7px;
        padding-bottom: 15px;
    }
    
    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .GTblock {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .rowSpace {
        padding-top: 10px;
        background-color: white;
    }
    
    #bottom {
        background-color: whitesmoke;
    }
    
    .ab {
        transition: all 0.25s ease-in-out;
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    
    .f1 {
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #3b3b3b70;
        border-radius: 20px;
        border: #190035 solid 1px;
        width: 35% !important;
        margin-top: 15% !important;
        color: #d4d4d4;
    }
    
    .f1 .btn {
        margin-top: 2%;
    }
    
    input {
        border: 1px solid #3c5d9c !important;
        background: none;
        margin: 7px 0px !important;
        padding: 5px;
        transition: 0.4s;
        width: 80%;
        border-radius: 15px;
    }
    
    input:focus {
        background-color: #22222273;
        border: 1px solid #00215e !important;
        color: #d4d4d4;
        width: 95%;
        transition: 0.4s;
        overflow: hidden;
        border-radius: 15px;
        outline: 0;
        box-shadow: 1px 1px 14px #0000008f;
    }
    
    .su {
        border-radius: 35px !important;
        background-image: repeating-linear-gradient(22deg, #002352, #5012c2) !important;
        box-shadow: 1px 2px 23px #00000046;
        transition: 0.3s;
    }
    
    .su:hover {
        border-radius: 35px !important;
        background-image: repeating-linear-gradient(-22deg, #002352, #5012c2) !important;
        box-shadow: 1px 2px 23px #00000046;
        color: wheat !important;
        font-weight: bolder;
        transition: 0.3s;
    }